azure-ai-projects
azure-ai-inference
azure-ai-evaluation
azure-identity
python-dotenv
agent-framework
ipykernel
opentelemetry-api
azure-core
azure-search-documents
pandas
openai
fastmcp
langchain-community
azure-monitor-opentelemetry
